<mat-expansion-panel *ngIf="display" [expanded]="true" class="no-shadow">
    <mat-expansion-panel-header>
        <mat-panel-title class="d-flex justify-content-center mr-0">
            <div class="flex-grow-1 d-flex page-width">
                <fa-icon [icon]="['fas', 'exclamation-circle']" [styles]="{'color': '#f0ad4e'}"></fa-icon>
                <div class="ml-2">A moment please!</div>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="d-flex justify-content-center">
        <div class="page-width">
            <h2>Heading</h2>
            <p>Info here.</p>
            <button mat-flat-button matTooltip="close" color="warn" (click)="close()">Close</button>
        </div>
    </div>
</mat-expansion-panel>
