<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <mat-card class="mat-elevation-z4">
            <mat-spinner *ngIf="loading; else loadedBlock"></mat-spinner>
            <ng-template #loadedBlock>
                <h2 class="mb-4 d-inline-flex flex-wrap">
                    <div class="m-0">{{ firstWord }}</div>
                    <div class="ws-1"></div>
                    <div class="m-0 font-weight-light">for</div>
                    <div class="ws-1"></div>
                    <div class="m-0">{{ secondWord }}</div>
                    <div class="ws-2"></div>
                    <a [href]="tweetURL">
                        <fa-icon [icon]="['fab', 'twitter']"
                                 size="lg"
                                 [styles]="{'color': '#1DA1F2'}">
                        </fa-icon>
                    </a>
                </h2>
                <div class="d-flex justify-content-between">
                    <button mat-flat-button color="primary" (click)="requestNewSuggestion()" aria-label="new">
                        Give me a new one
                    </button>
                </div>
            </ng-template>
        </mat-card>
    </div>
</div>
