<footer id="sticky-footer" class="py-2 bg-dark text-white-50">
    <div class="d-flex justify-content-center">
        <div class="page-width">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <a class="p-1" href="https://twitter.com/your-handle-here">
                        <fa-icon [icon]="['fab', 'twitter']" size="md"></fa-icon>
                    </a>
                    <a class="p-1" href="mailto:contact@your-url-here?subject=Hello!">
                        <fa-icon [icon]="['fas', 'envelope']" size="md"></fa-icon>
                    </a>
                </div>
                <div class="row">
                    <div class="container text-center">
                        <small>All product and company names are trademarks&trade; or registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
